services:
  db:
    image: postgres:16
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file:
      - backend/.env.local

  backend:
    build: ./backend
    command: python manage.py migrate && python manage.py runserver
    volumes:
      - ./backend:/app
    ports:
      - '8000:8000'
    env_file:
      - backend/.env.local
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    env_file:
      - frontend/.env.local
    depends_on:
      - backend

volumes:
  db_data:
